@import url("https://fonts.googleapis.com/css?family=Aclonica|Bubblegum+Sans");
.button-left{
    margin-left: 240px;
}
.brand-title{
    font-family: 'Bubblegum Sans', cursive;
    font-size: 25px;
}
.brand-text{
    font-family: cursive;
    font-size: 16px;
}
.link:hover{
    text-decoration: none;
}
.brand{
    width: 500px;
    height: 550px;
  transition: 1.5s;
}
.brand:hover{
    opacity: .9;
    transform: scale(.98);
}

@media screen and (max-width: 660px){
    .brand{
        width: 400px;
    }
}
