.brand-statement-container{
    height: 500px;
    background-image: url('../images/white-business-background.jpg');
    background-size: cover;
}
.brand-statement{
    margin-top: 50px;
    font-size: 30px;
    font-family: cursive;
}
@keyframes image_animation{
    0%{
        display: block;
        left: 0px;
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        left: 720px;
    }
}

%slideShow-animation{
        animation-name: image_animation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.slideShow{
    margin-top: 40px;
    img{
         position: absolute;
         top: 50px;
         left: -1800px;
         height: 200px;
    }
}
 .watch1{
       @extend %slideShow-animation;
    }
    .watch2{
       @extend %slideShow-animation;
       animation-delay: 2s;
       z-index: 1;
    }
    .watch3{
       @extend %slideShow-animation;
       animation-delay: 4s;
       z-index: 2;
    }
    .line1{
        border: 2px solid black;
        height: 7px;
    }

    @media screen and (max-width:991px){
        .slideShow{
            display: none;
        }
    }

    $screen-width: 1500px;
    $left-position: 720px;
    @mixin animate($left) {
         @keyframes image_animation{
    0%{
        display: block;
        left: 0px;
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        left: $left;
    }
}
    }
    @media screen and (max-width:$screen-width - 50){
     @include animate($left-position)
    }
    @media screen and (max-width:$screen-width - 100){
     @include animate($left-position - 50)
    }
    @media screen and (max-width:$screen-width - 150){
     @include animate($left-position - 100);
      .slideShow{
         img{
             animation-duration: 9s;
         }
     }
    }
    @media screen and (max-width:$screen-width - 200){
     @include animate($left-position - 150);
      .slideShow{
         img{
             animation-duration: 9.3s;
         }
     }
    }
    @media screen and (max-width:$screen-width - 250){
     @include animate($left-position - 200);
      .slideShow{
         img{
             animation-duration: 9.5s;
         }
     }
    }
    // @media screen and (max-width:$screen-width - 300){
    //  @include animate($left-position - 250)
    // }
    // @media screen and (max-width:$screen-width - 350){
    //  @include animate($left-position - 250)
    // }
    @media screen and (max-width:$screen-width - 400){
     @include animate($left-position - 250);
     .slideShow{
         img{
             animation-duration: 9.5s;
         }
     }
    }
    
    