.brand-statement-container {
  height: 500px;
  background-image: url("../images/white-business-background.jpg");
  background-size: cover;
}

.brand-statement {
  margin-top: 50px;
  font-size: 30px;
  font-family: cursive;
}

@-webkit-keyframes image_animation {
  0% {
    display: block;
    left: 0px;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    left: 720px;
  }
}

@keyframes image_animation {
  0% {
    display: block;
    left: 0px;
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    left: 720px;
  }
}

.watch1, .watch2, .watch3 {
  -webkit-animation-name: image_animation;
          animation-name: image_animation;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.slideShow {
  margin-top: 40px;
}

.slideShow img {
  position: absolute;
  top: 50px;
  left: -800px;
  height: 200px;
}

.watch2 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  z-index: 1;
}

.watch3 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  z-index: 2;
}

.line1 {
  border: 2px solid black;
  height: 7px;
}

@media screen and (max-width: 991px) {
  .slideShow {
    display: none;
  }
}

@media screen and (max-width: 1450px) {
  @-webkit-keyframes image_animation {
    0% {
      display: block;
      left: 0px;
    }
    50% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      left: 720px;
    }
  }
  @keyframes image_animation {
    0% {
      display: block;
      left: 0px;
    }
    50% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      left: 720px;
    }
  }
}

@media screen and (max-width: 1400px) {
  @-webkit-keyframes image_animation {
    0% {
      display: block;
      left: 0px;
    }
    50% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      left: 670px;
    }
  }
  @keyframes image_animation {
    0% {
      display: block;
      left: 0px;
    }
    50% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      left: 670px;
    }
  }
}

@media screen and (max-width: 1350px) {
  @-webkit-keyframes image_animation {
    0% {
      display: block;
      left: 0px;
    }
    50% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      left: 620px;
    }
  }
  @keyframes image_animation {
    0% {
      display: block;
      left: 0px;
    }
    50% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      left: 620px;
    }
  }
  .slideShow img {
    -webkit-animation-duration: 9s;
            animation-duration: 9s;
  }
}

@media screen and (max-width: 1300px) {
  @-webkit-keyframes image_animation {
    0% {
      display: block;
      left: 0px;
    }
    50% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      left: 570px;
    }
  }
  @keyframes image_animation {
    0% {
      display: block;
      left: 0px;
    }
    50% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      left: 570px;
    }
  }
  .slideShow img {
    -webkit-animation-duration: 9.3s;
            animation-duration: 9.3s;
  }
}

@media screen and (max-width: 1250px) {
  @-webkit-keyframes image_animation {
    0% {
      display: block;
      left: 0px;
    }
    50% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      left: 520px;
    }
  }
  @keyframes image_animation {
    0% {
      display: block;
      left: 0px;
    }
    50% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      left: 520px;
    }
  }
  .slideShow img {
    -webkit-animation-duration: 9.5s;
            animation-duration: 9.5s;
  }
}

@media screen and (max-width: 1100px) {
  @-webkit-keyframes image_animation {
    0% {
      display: block;
      left: 0px;
    }
    50% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      left: 470px;
    }
  }
  @keyframes image_animation {
    0% {
      display: block;
      left: 0px;
    }
    50% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      left: 470px;
    }
  }
  .slideShow img {
    -webkit-animation-duration: 9.5s;
            animation-duration: 9.5s;
  }
}
/*# sourceMappingURL=Home.css.map */