@import url("https://fonts.googleapis.com/css?family=Aclonica|Bubblegum+Sans");

li{
    font-weight: bold;
    font-size: 25px;
}
.watch{
 h2{
     font-family: 'Bubblegum Sans', cursive;
   }
}
// .list-group-item{
//     background-color: rgb(224, 223, 223);
//     border-color: black;
// }
